<% content_for :title do %>
  <%= @title %>
<% end %>
<div id="container">
  <div>
    <div id="how-much">
      One
      <b><%= @item.name %></b>
      costs
      <b><%= @price_value %></b>
      at
      <b><%= @price.location %></b>
      <br/>
      <div id="quip">
        <% if @cheapest %>
          and as far as we know, that's the cheapest.
        <% elsif @expensive %>
          and as far as we know, that's crazy expensive.
        <% else %>
          and if we are not wrong, you can get it for cheaper.<br/>(or more expensive, if that's your thing.)
        <% end %>
      </div>
    </div>
    <br/>
    <div id="oh-you-like-that">
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=200927713302976&amp;xfbml=1"></script><fb:like href="" send="true" layout="button_count" show_faces="false" action="like" font="verdana"></fb:like>
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= @title %> #onehowmuch" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <g:plusone size="medium"></g:plusone>
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>
    <br/>
    <div id="blargh">
      know how much something costs? <a href="mailto:howmuch@oneuphero.com" target="_blank">email</a> or <a href="http://twitter.com/?status=@onehowmuch" target="_blank">tweet</a>.
      <br/>
      psst.. refresh the page.
    </div>
  </div>
</div>
